@import "./css/fonts/inter/inter.css";
@import "./css/fonts/product-sans/pd.css";

html, body {
    position: relative;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    font-family: "Inter", "Roboto", -apple-system, BlinkMacSystemFont, 'Helvetica Neue', "微软雅黑", "Microsoft YaHei UI", sans-serif
}

*::selection {
    color: inherit;
}

#app {
    display: block;
    margin: auto;
}

.md-helper-text, .md-error {
    margin-left: 36px !important;
}

textarea {
    resize: none;
}

.md-empty-state {
    @media screen and (max-width: 1024px) {
        height: 100%;
        overflow: hidden;
    }
}

.loading-container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    
    .loading {
        display: block;
        margin: auto;
        padding: 128px;
    }
}

.agreement {
    @media screen and (min-width: 1024px) {
        padding: 64px;
    }
    @media screen and (max-width: 1024px) {
        padding: 32px;
    }
    height: 100%;
    position: relative;
    article.content {
        line-height: 1.8;

        & > h1 {
            color: var(--md-theme-default-primary);
        }

        h1 {
            @media screen and (max-width: 1024px) {
                font-size: 36px;
            }
            @media screen and (min-width: 1024px) {
                font-size: 48px;
            }
            margin-top: 16px;
            margin-bottom: 16px;
        }

        p {
            font-size: 16px;
        }

        code, pre {
            font-family: "Fira Code", "Roboto Mono", Consolas, 'Courier New', Courier, monospace;
        }

        code {
            background-color: rgba(0, 0, 0, .03);
            border-radius: 2px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 8px;
            padding-right: 8px;
            color: var(--md-theme-default-primary);
            font-size: 14px;
        }
    }
}

.empty-state-full-screen {
    height: 100%;
    position: relative;
}

.container {
    max-width: 1024px;
    margin: auto;
    margin-top: 56px;
}

.md-app-scroller {
    flex: unset !important;
}

.md-scrollbar::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

.md-title {
    font-family: "Product Sans Regular", sans-serif;
    font-weight: normal;
}